/*Zerar a pagina*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*Alinhar definições do body*/

body{
    background: #fafafa;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

/*Alinhar definições do container*/

.container{
    border: 2px solid #191818;
    padding: 30px 40px;
    background: #191818;
    width:40%;
    border-radius:12px;
    min-width: 500px;
}

.new-task-container{
    background-color:#2b2a2a ;
    padding:30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px #191818;
    display:flex;
    align-items: center;
}

.new-task-container input{
    flex:3;
    font-size:1rem;
    border:2px solid #191818;
    border-radius: 5px;
    padding:12px;
    font-weight: 500;
    outline: none;
    background: #191818;
    color: #FFF;
}

.new-task-container input:focus{
    outline:none;
    border-color: #2b2a2a;
}


.new-task-button{
    flex:1;
    border-radius: 5px;
    font-weight: 500;
    height:100%;
    border:none;
    font-size: 1rem;
    background-color:#191818 ;
    color:#FFF;
    padding:12px;
    margin-left: 12px;
    cursor:pointer;
}

.tasks-container{
    background-color:#2b2a2a ;
    padding: 30px 20px;
    margin-top:40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px #2b2a2a;
    width:100%;
}

.task-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:6px;
    margin-top: 6px;
    background-color: #191818 ;
    color:#FFF;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px #2b2a2a;
    width:100%;
}
.task-item p{
    cursor:pointer;
}
.task-item i{
    background-color: #191818 ;
    padding:12px;
    border-radius: 5px;
}

.task-item i:hover{
    background-color: #2b2a2a ;
    cursor:pointer;
}

/* utilidades */


.error{
    border: 2px solid red !important;

}

.error::placeholder{
    color: red;
}

.completed{
    text-decoration: line-through;
}
